*{box-sizing:border-box;margin:0;padding:0}
html,body{height:100%;touch-action:none}
body{
  font-family:Inter,system-ui,Arial;
  color:#fff;
  overscroll-behavior:none;
  background:#A3001B;
}
#app{position:relative;width:100%;height:100vh;overflow:hidden}

/* Title */
#kisscamText{
  position:absolute;top:2vh;left:50%;transform:translateX(-50%);
  font-size:6vh;font-weight:900;color:#ffefef;
}
#message{
  position:absolute;top:12vh;left:50%;transform:translateX(-50%);
  font-size:4vh;z-index:60;
}

/* ❤️ HEART CAMERA */
#cameraHeart{
  position:absolute;
  left:50%;
  top:60%
  transform:translate(-50%,-50%);
  width:170vh;
  height:80vh;
  overflow:hidden;
  z-index:10;

  -webkit-clip-path:path("M50 82 L45 78 C20 58 5 40 5 25 C5 12 17 5 30 12 C38 17 43 24 50 30 C57 24 62 17 70 12 C83 5 95 12 95 25 C95 40 80 58 55 78 L50 82 Z");
  clip-path:path("M50 82 L45 78 C20 58 5 40 5 25 C5 12 17 5 30 12 C38 17 43 24 50 30 C57 24 62 17 70 12 C83 5 95 12 95 25 C95 40 80 58 55 78 L50 82 Z");
}

#cameraCanvas{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* Buttons */
#controls{
  position:absolute;bottom:4vh;left:0;right:0;
  display:flex;justify-content:space-between;padding:0 4vw;z-index:70;
}
#controls button{
  padding:12px 22px;font-size:3.6vh;border-radius:12px;border:none;
  background:rgba(255,255,255,0.08);color:#fff;min-width:36vw;
}
#controls button.right{background:#c1121f}

#particles{position:absolute;inset:0;pointer-events:none;z-index:55}
#devControls{position:absolute;top:2vh;right:2vw;z-index:80;opacity:0.001}
